USE [master]
GO
/****** Object:  Database [PROYECTOS FINAL]    Script Date: 26/02/2023 09:28:05 ******/
CREATE DATABASE [PROYECTOS FINAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROYECTOS FINAL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PROYECTOS FINAL.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROYECTOS FINAL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PROYECTOS FINAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROYECTOS FINAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROYECTOS FINAL]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[Id_Cliente] [int] NOT NULL,
	[RUC] [bigint] NULL,
	[Nombre_Empresa] [varchar](max) NULL,
	[N_Contacto] [varchar](max) NULL,
	[Tel_Contacto] [varchar](20) NULL,
 CONSTRAINT [XPKCLIENTE] PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPONENTE]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPONENTE](
	[Id_Componente] [varchar](20) NOT NULL,
	[Id_Proyecto] [varchar](20) NOT NULL,
	[Cod_Componente] [varchar](max) NULL,
	[Descripcion_Componente] [varchar](max) NULL,
	[Monto_Componente] [float] NULL,
 CONSTRAINT [XPKCOMPONENTE] PRIMARY KEY CLUSTERED 
(
	[Id_Componente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Almacen]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Almacen](
	[Id_Nota] [varchar](20) NOT NULL,
	[Id_Material] [varchar](20) NULL,
	[Cantidad] [numeric](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Parte]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Parte](
	[Id_Parte] [varchar](200) NOT NULL,
	[Inicio] [numeric](10, 2) NULL,
	[Fin] [numeric](10, 2) NULL,
	[Cantidad]  AS ([Fin]-[Inicio]),
	[Und] [char](5) NULL,
	[Trabajo] [varchar](120) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Tareo]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Tareo](
	[Id_Tareo] [varchar](20) NOT NULL,
	[Id_Personal] [varchar](20) NOT NULL,
	[Ingreso] [float] NULL,
	[Salida] [float] NULL,
	[HH]  AS ([Ingreso]-[Salida]),
	[HE] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTREGABLE]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTREGABLE](
	[Id_Entregable] [varchar](20) NOT NULL,
	[Id_Componente] [varchar](20) NOT NULL,
	[Cod_Entregable] [varchar](max) NULL,
	[Descripcion_Entregable] [varchar](max) NULL,
	[Monto_Entregable] [float] NULL,
 CONSTRAINT [XPKENTREGABLE] PRIMARY KEY CLUSTERED 
(
	[Id_Entregable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPO]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPO](
	[Id_Equipo] [varchar](20) NOT NULL,
	[Familia] [varchar](max) NULL,
	[Modelo] [varchar](max) NULL,
	[Registro_Placa] [varchar](max) NULL,
	[Costo_Base] [money] NULL,
	[Unidad] [varchar](5) NULL,
 CONSTRAINT [XPKEQUIPO] PRIMARY KEY CLUSTERED 
(
	[Id_Equipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIALES]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIALES](
	[Id_Material] [varchar](20) NOT NULL,
	[IU] [varchar](20) NULL,
	[Descripcion] [varchar](max) NULL,
	[Und] [char](5) NULL,
	[Stock] [numeric](10, 2) NULL,
	[Almacen] [varchar](max) NULL,
	[PU] [money] NULL,
 CONSTRAINT [XPKMATERIALES] PRIMARY KEY CLUSTERED 
(
	[Id_Material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTA_ALMACEN]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTA_ALMACEN](
	[Id_Nota] [varchar](20) NOT NULL,
	[Id_Partida] [varchar](20) NOT NULL,
	[Fecha] [date] NULL,
	[Nro_Doc] [varchar](20) NULL,
 CONSTRAINT [XPKNOTA_ALMACEN] PRIMARY KEY CLUSTERED 
(
	[Id_Nota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTE_EQUIPOS]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTE_EQUIPOS](
	[Id_Parte] [varchar](200) NOT NULL,
	[Id_Equipo] [varchar](20) NOT NULL,
	[Id_Partida] [varchar](20) NOT NULL,
	[Fecha] [date] NULL,
	[Costo] [float] NULL,
	[Nro_doc] [varchar](max) NULL,
 CONSTRAINT [XPKPARTE_EQUIPOS] PRIMARY KEY CLUSTERED 
(
	[Id_Parte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTIDA]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTIDA](
	[Id_Partida] [varchar](20) NOT NULL,
	[Id_Entregable] [varchar](20) NOT NULL,
	[Cod_Partida] [varchar](max) NULL,
	[Descripcion_Partida] [varchar](max) NULL,
	[Metrado] [float] NULL,
	[Und] [char](5) NULL,
	[PU] [float] NULL,
	[Costo_Parcial]  AS ([Metrado]*[PU]),
	[Estado_Partida] [varchar](max) NULL,
	[Fecha_Estado_Partida] [date] NULL,
 CONSTRAINT [XPKPARTIDA] PRIMARY KEY CLUSTERED 
(
	[Id_Partida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAL]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAL](
	[Id_Personal] [varchar](20) NOT NULL,
	[Nombre1] [varchar](120) NULL,
	[Nombre2] [varchar](120) NULL,
	[Apellido_P] [varchar](120) NULL,
	[Apeelido_M] [varchar](120) NULL,
	[Categoria] [varchar](20) NULL,
	[Nro_Orden] [int] NULL,
	[DNI] [int] NULL,
	[Salario] [money] NULL,
 CONSTRAINT [XPKPERSONAL] PRIMARY KEY CLUSTERED 
(
	[Id_Personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[Id_Proyecto] [varchar](20) NOT NULL,
	[Id_Cliente] [int] NOT NULL,
	[UBIGEO] [int] NOT NULL,
	[Nombre] [varchar](max) NULL,
	[Direccion_Proyecto] [varchar](max) NULL,
	[Monto_Presupuestado] [float] NULL,
	[Monto_Costo_Real] [float] NULL,
	[Estado] [varchar](max) NULL,
	[Fecha_Estado] [date] NULL,
	[Fecha_Incio] [date] NULL,
	[Fecha_Finalizado] [date] NULL,
 CONSTRAINT [XPKPROYECTO] PRIMARY KEY CLUSTERED 
(
	[Id_Proyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAREO_MO]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAREO_MO](
	[Id_Tareo] [varchar](20) NOT NULL,
	[Id_Partida] [varchar](20) NULL,
	[Fecha] [date] NULL,
	[Nro_Docummento] [varchar](20) NULL,
 CONSTRAINT [XPKTAREO_MO] PRIMARY KEY CLUSTERED 
(
	[Id_Tareo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UBIGEO]    Script Date: 26/02/2023 09:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBIGEO](
	[ID_UBIGEO] [int] NOT NULL,
	[REGION] [varchar](max) NULL,
	[PROVINCIA] [varchar](max) NULL,
	[DISTRITO] [varchar](max) NULL,
 CONSTRAINT [XPKUBICACION] PRIMARY KEY CLUSTERED 
(
	[ID_UBIGEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMPONENTE]  WITH CHECK ADD  CONSTRAINT [R_Proyecto_Componente_Presupuesto] FOREIGN KEY([Id_Proyecto])
REFERENCES [dbo].[PROYECTO] ([Id_Proyecto])
GO
ALTER TABLE [dbo].[COMPONENTE] CHECK CONSTRAINT [R_Proyecto_Componente_Presupuesto]
GO
ALTER TABLE [dbo].[Detalle_Almacen]  WITH CHECK ADD  CONSTRAINT [R_15] FOREIGN KEY([Id_Nota])
REFERENCES [dbo].[NOTA_ALMACEN] ([Id_Nota])
GO
ALTER TABLE [dbo].[Detalle_Almacen] CHECK CONSTRAINT [R_15]
GO
ALTER TABLE [dbo].[Detalle_Almacen]  WITH CHECK ADD  CONSTRAINT [R_16] FOREIGN KEY([Id_Material])
REFERENCES [dbo].[MATERIALES] ([Id_Material])
GO
ALTER TABLE [dbo].[Detalle_Almacen] CHECK CONSTRAINT [R_16]
GO
ALTER TABLE [dbo].[Detalle_Parte]  WITH CHECK ADD  CONSTRAINT [R_PARTE_DETALLE] FOREIGN KEY([Id_Parte])
REFERENCES [dbo].[PARTE_EQUIPOS] ([Id_Parte])
GO
ALTER TABLE [dbo].[Detalle_Parte] CHECK CONSTRAINT [R_PARTE_DETALLE]
GO
ALTER TABLE [dbo].[Detalle_Tareo]  WITH CHECK ADD  CONSTRAINT [R_24] FOREIGN KEY([Id_Tareo])
REFERENCES [dbo].[TAREO_MO] ([Id_Tareo])
GO
ALTER TABLE [dbo].[Detalle_Tareo] CHECK CONSTRAINT [R_24]
GO
ALTER TABLE [dbo].[Detalle_Tareo]  WITH CHECK ADD  CONSTRAINT [R_25] FOREIGN KEY([Id_Personal])
REFERENCES [dbo].[PERSONAL] ([Id_Personal])
GO
ALTER TABLE [dbo].[Detalle_Tareo] CHECK CONSTRAINT [R_25]
GO
ALTER TABLE [dbo].[ENTREGABLE]  WITH CHECK ADD  CONSTRAINT [R_Componente_entregable] FOREIGN KEY([Id_Componente])
REFERENCES [dbo].[COMPONENTE] ([Id_Componente])
GO
ALTER TABLE [dbo].[ENTREGABLE] CHECK CONSTRAINT [R_Componente_entregable]
GO
ALTER TABLE [dbo].[NOTA_ALMACEN]  WITH CHECK ADD  CONSTRAINT [R_27] FOREIGN KEY([Id_Partida])
REFERENCES [dbo].[PARTIDA] ([Id_Partida])
GO
ALTER TABLE [dbo].[NOTA_ALMACEN] CHECK CONSTRAINT [R_27]
GO
ALTER TABLE [dbo].[PARTE_EQUIPOS]  WITH CHECK ADD  CONSTRAINT [R_PARTE_EQUIPO] FOREIGN KEY([Id_Equipo])
REFERENCES [dbo].[EQUIPO] ([Id_Equipo])
GO
ALTER TABLE [dbo].[PARTE_EQUIPOS] CHECK CONSTRAINT [R_PARTE_EQUIPO]
GO
ALTER TABLE [dbo].[PARTE_EQUIPOS]  WITH CHECK ADD  CONSTRAINT [R_PARTE_PARTIDA] FOREIGN KEY([Id_Partida])
REFERENCES [dbo].[PARTIDA] ([Id_Partida])
GO
ALTER TABLE [dbo].[PARTE_EQUIPOS] CHECK CONSTRAINT [R_PARTE_PARTIDA]
GO
ALTER TABLE [dbo].[PARTIDA]  WITH CHECK ADD  CONSTRAINT [R_Entregable_Partida] FOREIGN KEY([Id_Entregable])
REFERENCES [dbo].[ENTREGABLE] ([Id_Entregable])
GO
ALTER TABLE [dbo].[PARTIDA] CHECK CONSTRAINT [R_Entregable_Partida]
GO
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [R_17] FOREIGN KEY([Id_Cliente])
REFERENCES [dbo].[CLIENTE] ([Id_Cliente])
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [R_17]
GO
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [R_19] FOREIGN KEY([UBIGEO])
REFERENCES [dbo].[UBIGEO] ([ID_UBIGEO])
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [R_19]
GO
ALTER TABLE [dbo].[TAREO_MO]  WITH CHECK ADD  CONSTRAINT [R_8] FOREIGN KEY([Id_Partida])
REFERENCES [dbo].[PARTIDA] ([Id_Partida])
GO
ALTER TABLE [dbo].[TAREO_MO] CHECK CONSTRAINT [R_8]
GO
USE [master]
GO
